body {
  margin: 0;
  background: black;
  color: white;
  font-family: Georgia, serif;
}

/* Intro screen */
#intro {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Click screen */
#startScreen h1 {
  font-size: 20px;
  letter-spacing: 3px;
  opacity: 0.8;
  cursor: pointer;
}

/* Countdown */
#countdown {
  font-size: 140px;
  font-weight: bold;
  color: white;
  text-align: center;

   text-shadow:
    0 0 5px rgba(255,255,255,0.5),
    0 0 15px rgba(255,255,255,0.2);
}

/* Hidden state */
.hidden {
  display: none;
}

/* Fade effect */
.fade {
  animation: fadeOut 0.8s ease forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(1.1);
  }
}

/* Film grain overlay */
#intro::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;

  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.2;
}

/* Flicker animation */
@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.92; }
  100% { opacity: 1; }
}

#intro {
  animation: flicker 0.15s infinite;
}

#intro::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;

  background: radial-gradient(
    circle,
    transparent 60%,
    rgba(0,0,0,0.7) 100%
  );
}

/* Film frame container */
.film-frame {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}

/* Circle */
.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid white;
  border-radius: 50%;
}

/* Crosshair lines */
.crosshair {
  position: absolute;
  background: white;
}

.horizontal {
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0;
}

.vertical {
  width: 2px;
  height: 100%;
  left: 50%;
  top: 0;
}

/* Number centered */
#number {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-weight: bold;
}

/* Rotating sweep line */
.film-frame::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 50%;
  background: white;
  top: 50%;
  left: 50%;
  transform-origin: top center;

  animation: sweep 1s linear infinite;
  animation-play-state: running;
}

@keyframes sweep {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#number {
  animation: jitter 0.1s infinite;
}

@keyframes jitter {
  0% { transform: translate(0px, 0px); }
  50% { transform: translate(1px, -1px); }
  100% { transform: translate(0px, 0px); }
}
